<div class="container" >
  <nav class="nav navbar sticky-top">
    <div class="navbar-brand">
    <h4><span class="badge badge-secondary">Shopping CART</span></h4>
    </div>
    
    <ul class="nav navbar-nav navbar-center">
       <li class="nav-item">
     <h5><a class="nav-link" href="#">Home</a></h5>
       </li>
    </ul>
    <ul class=" nav navbar-nav  my-2 my-lg-0">
       <li class="nav-item">
      <button type="button" class="btn">Log in</button>
       </li>
    </ul>
  </nav>
</div>

<div class="jumbotron">
  <h1>Under construction! Login to continue</h1>
</div>
